.banner{
    margin: 2em 2em;
    background-image: url("../../assets/images/hero-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height : 75vh;
    display: flex;
    justify-content: space-between;
    .banner-img{
      margin-right: 2em;
    };
    .banner-text{
        display : flex;
        flex-direction: column;
        justify-content: center;
        color: white;
        margin-left: 3em;
        h1{
            font-weight: 400;
        }
        .learnBtn{
            background-color:  blue;
            border: 1px solid white;
            color: white;
        }
    };
}