// @import './$dark'

.header{
  .top-header{
    display: flex;
    margin: 1em 0em;
    justify-content: space-between;
    .logo{
      margin-left: 2em;
    };
    .menu{
      .menu-item{
        padding: 0em 1em;
        font-weight: 500;
      }
    }
    };
  .btn-solid{
            background-color: white;
            border: 1px solid whitesmoke;
           
    

  }
}
.navbar{
  display : flex;
  background-color: black;
  color : white;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .nav-menu {
    padding : 0em 1em;    
  };
  
}
